.panel-2col-bricks { 
/*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
  /*background-image: url("../../../../../imagenes/fondo.jpg");
  /*personalizado*/
  margin-left: -30%;
  margin-right: -30%;
  /*personalizado*/
}

.panel-2col-bricks .panel-col-top,
.panel-2col-bricks .panel-col-middle { 
  
  clear: both;
  /*personalizado
  width: 100%; 
  */
  width: 61%;
  margin-left: 19%;
  /*personalizado
  */
}

.panel-2col-bricks .panel-col-bottom{
  width: 100%;
 background-image: url("../../../../../../default/files/textura/textura.jpg");
  border-top: 1px solid #fff4f4;
  border-bottom: 1px solid #fff4f4;
}

.panel-col-top{
  /*border-top: 1px solid #fff4f4; comentado
  background-color: #f9f8e5;comentado*/
  height: 40px;
}

.panel-col-middle{
  /*border-bottom: 1px solid #fff4f4;
  border-top: 1px solid #fff4f4;
  /*border-top: 1px solid #fff4f4; comentado
  background-color: #f9f8e5; comentado*/
}

.panel-2col-bricks .panel-col-top .inside,
.panel-2col-bricks .panel-col-middle .inside {
  /* margin-bottom: .5em;*/
}

.center-wrapper{
  border-top: 1px solid #fff4f4;  
  border-bottom: 1px solid #fff4f4;
  float: left;
  height: 100%;
  width: 100%;
  
  background-image: url("../../../../../../default/files/textura/textura.jpg");  
}
.center-wrapper-sin-float{
  height: 100%;
  width: 100%;
  
  background-image: url("../../../../../../default/files/textura/textura.jpg");   
}

.panel-2col-bricks .panel-col-first { 
  float: left; 
  /*editado*/
  /*width: 50%;*/
  width: 31%;
  margin-left: 19%;
 /* background-image: url("../../../../../imagenes/fondo.jpg");
  /*editado*/ 
}
* html .panel-2col-bricks .panel-col-first {
  width: 49.9%;
}

.panel-2col-bricks .panel-col-first .inside { 
  margin: 0 .5em .5em 0;
}

.panel-2col-bricks .panel-col-last { 
  float: left; 
  /*editado*/
  /*width: 50%;*/ 
  width: 30%;
  /*editado*/
}
* html .panel-2col-bricks .panel-col-last {
  width: 49.9%;
}

.panel-2col-bricks .panel-col-last .inside { 
  margin: 0 0 .5em .5em;
}

.panel-2col-bricks .panel-separator {
  margin: 0 0 1em 0;
}


.panel-2col-bricks .panel-col-bottom .inside { 
  margin-left: 19%;
  margin-right: 19%;
}
