.field-slideshow {
  overflow: hidden;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  text-align:center;
}

.field-slideshow-slide, .field-slideshow-slide a, .field-slideshow-slide img {
  max-width: 100%;
  height: auto !important;
  width: auto !important;
}

.region-content ul.field-slideshow-pager {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.field-slideshow-pager li {
   text-align:center;
   margin-right: 5px;
   /*width: 70%;*/
}

.jcarousel-clip {
  overflow: hidden;
}

.field-slideshow-carousel li {
  opacity: 0.6;
}
.field-slideshow-carousel li.activeSlide {
  opacity: 1;
}

.field-slideshow-carousel-wrapper .hidden {
  display: none;
  visibility: hidden;
  /*width: 30%;*/
}

.field-slideshow-controls .play {
  display: none;
}
